.wrap{
  width: 240px;
  background-color:#0C213A;// #1976d2;//;
  height: 100vh;
}
.wrapLogo{
  text-align: center;
  padding-top: 20px;
}
.logo{
  height: 50px;
  padding: 4px 20px ;
  background: #fff;
  border-radius: 10px;
}
#item{
  color:'blue'
}
a{
  color:'blue'
}