@import './constant.scss';
.content{
  background: #E0E0E0;
  // min-height: calc(100vh - $heightHeader);
  height: calc(100vh - $heightHeader);
  overflow: auto;

}
/* 
.App-link {
  color: #61dafb;
} */

